html,
body {
    margin: 0;
    height: 100%;
    align-items: center;
    overflow: hidden;
    color: whitesmoke;
}

.container-fluid {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.col-8,
.col-4 {
    border: 2px solid rgb(134, 195, 236);
    background-color: black;
    margin: 0;
    padding: 10px;
    height: auto;
    align-items: center;
}

.row {
    height: 100%;
    width: 100%;
}

.header {
    text-align: center;
    color: white;
    border-bottom: 5px solid rgb(134, 195, 236);
    font-size: 3em;
}

.monster {
    height: 80%;
    width: 100%;
}

#monster {
    max-width: 50%;
    max-height: 70%;
    cursor: pointer;
    /* height: 100vh; */
    width: 100vh;
}

.points {
    color: white;
    border: 5px solid rgb(134, 195, 236);
    max-width: 100%;
    max-height: 100%;
    justify-self: right;
    font-size: 2em;
}

.col-6 {
    margin: 0;
    padding: 10px;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.col-3,
.col-2 {
    margin: 0;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: center;
}
.col-2{
    height: 100%;
}

.upgradesSection {
    height: auto;
    width: 100%;
    color: white;
}

.upgrade {
    border: 5px solid rgb(134, 195, 236);
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    align-content: center;
}

.fix {
    width: 100%;
    height: 10%;
}

#idleUpgrade,
#idleMore,
#critChance,
#clickOne,
#critMore,
#critDmg,
#idleUpgrade2,
#idleMore2 {
    cursor: pointer;
}

#critMore,
#idleMore,
#critDmg,
#idleMore2 {
    opacity: 0.1;
    pointer-events: none;
    cursor: none;
}

.charactersSection {
    height: 100%;
}
.character{
    cursor: pointer;
}