.circ{
 border-radius: 50%;
    border: 5px rgb(161, 151, 255);
    position: absolute;
    align-self: center;
    border-style: groove;
    background-size: auto 100%;
  background-position: center;
    transition: transform 120ms ease-in-out;
}
.circle-1{
  background-image: url("../img/codehsidle.jpeg");

  z-index: 100;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940),shake-horizontal 1.0s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.6s ;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940),shake-horizontal 1.0s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.6s ;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.circle-2{
  background-image: url("../img/physics.png");
  z-index: 90;
   -webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.8s ;
	        animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.8s ;
    width: 600px;
    height: 600px;
    cursor: pointer;
}

.circle-3{
  background-image: url("../img/TextAdvGame.png");
  z-index: 80;
    -webkit-animation: scale-in-center 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1.1s ;
	        animation: scale-in-center 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1.1s ;
    width: 900px;
    height: 900px;
     cursor: pointer;
}

.circle-4{
  background-image: url("../img/clock.png");
  z-index: 70;
    -webkit-animation: scale-in-center 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1.4s ;
	        animation: scale-in-center 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1.4s ;
    width: 1200px;
    height: 1200px;
     cursor: pointer;
}

.circle-5{
  z-index: 60;
    -webkit-animation: scale-in-center 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2.0s  ;
	        animation: scale-in-center 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2.0s  ;
    width: 1500px;
    height: 1500px;
}

.circle-6{
    z-index: 50;
    -webkit-animation: scale-in-center 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2.3s ;
	        animation: scale-in-center 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940), shake-horizontal 1.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2.3s ;
    width: 1800px;
    height: 1800px;
}
html, body {
    background: radial-gradient(circle,rgba(252, 252, 252, 1) 0%, rgba(252, 161, 240, 0.63) 46%, rgba(70, 231, 252, 0.6) 100%);
  margin: 0;
  height: 100%;
   align-items: center;
   overflow: hidden;
   }
.container-fluid{
        display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    padding: 0px;
    margin: 0px;
}   
.circle-1:hover, .circle-2:hover, .circle-3:hover, .circle-4:hover, .circle-5:hover, .circle-6:hover{
  border-color: rgb(255, 105, 180);
}



@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

